@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

#app {
  height: 100%;
  padding: 20px;
  background-color: #f5f5f5;
}

li {
  list-style: none;
}

.themeColor {
  background-color: #45a1d7 !important;
  color: #fff !important;
}

.themeColor:hover {
  background-color: #3c8dbc !important;
}

.line {
  width: 100%;
  height: 1px;
  margin: 10px 0;
  background: #ddd;
}

.defaultSize {
  font-size: 18px;
  margin: 0 5px;
}

.content {
  background: #fff;
  padding: 20px;
}

.el-upload,
.upload-demo {
  width: 830px;
  margin: 120px auto 240px;
}

.el-upload-dragger {
  width: 100%;
  height: 284px;
}

.el-button {
  border-radius: 0;
}

.video, .details {
  max-width: 1220px;
}

.video .title, .details .title {
  font-size: 18px;
  font-weight: 600;
  color: #4c4c4c;
  margin: 0 0 10px 0;
}

.video .title span, .details .title span {
  font-size: 14px;
  margin-left: 10px;
}

.video .videoInfo, .details .videoInfo {
  display: flex;
}

.video .videoInfo div, .details .videoInfo div {
  width: 100%;
  font-size: 14px;
  font-weight: normal;
  position: relative;
}

.video .videoInfo div span, .details .videoInfo div span {
  font-size: 12px;
  margin-left: 0;
}

.video .videoInfo img, .details .videoInfo img {
  width: 50px;
  height: 40px;
  object-fit: contain;
  margin-right: 10px;
}

.video .videoInfo .el-progress, .details .videoInfo .el-progress {
  width: 100%;
}

.video .videoInfo .el-progress__text, .details .videoInfo .el-progress__text {
  width: 40px;
  float: right;
}

.video .videoInfo .del, .details .videoInfo .del {
  position: absolute;
  font-size: 25px;
  right: 10px;
  top: 0;
  cursor: pointer;
}

.del:hover {
  color: #3c8dbc;
}

.details {
  margin-top: 25px;
  min-width: 867px;
}

i {
  font-size: 18px;
}

.item {
  display: flex;
  margin: 15px 0;
}

.item > div:last-child {
  width: 100%;
  max-width: 767px;
}

.item .el-input__inner {
  border-radius: 0;
  border-right: none;
}

.item .el-input-group__append {
  background: #fff;
  border-radius: 0;
}

.item .el-checkbox__inner {
  border-color: #4c4c4c;
  border-radius: 50%;
}

.item .el-checkbox {
  color: #000;
}

.el-input__inner:focus ~ div {
  border-color: #45a1d7;
}

.item_title, .dia_title {
  min-width: 100px;
}

.no_point::before {
  content: "";
  margin-right: 14px;
}

.red_point::before {
  content: "*";
  color: #f56c6c;
  margin-right: 0;
}

.post {
  width: 100%;
  max-width: 767px;
  height: 164px;
  display: flex;
}

.post > div {
  margin-right: 20px;
}

.post > div > img {
  width: 223px;
  height: 164px;
  object-fit: cover;
}

.post_select {
  width: 516px;
  height: 110px;
  border: 1px solid #ddd;
  margin-top: 8px;
}

.post_select span {
  display: block;
  font-size: 12px;
  margin: 5px 0 10px 10px;
  color: #999999;
}

.post_select ul {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.post_select ul li {
  width: 110px;
  height: 68px;
  margin: 10px;
  position: relative;
}

.post_select ul li .select_icon {
  position: absolute;
  width: 30px;
  height: 30px;
  object-fit: cover;
  bottom: -1px;
  right: -1px;
}

.post_select ul li img {
  width: 100%;
  height: 100%;
}

/*
题目样式
*/
.sub_box {
  margin: 20px 0;
  padding: 0 20px;
  border: 1px solid #ddd;
}

.sub_box > div {
  padding: 25px 0;
  position: relative;
}

.sub_box > div > div {
  font-size: 18px;
  font-weight: 600;
  color: #45a1d7;
  line-height: 30px;
}

.sub_box > div > div .el-input {
  width: 70px;
}

.sub_box > div > div .el-input__inner {
  border-right: 1px solid;
  border-color: #DCDFE6;
  background-color: #f7f8fa;
}

.sub_box > div > div .el-input__inner:focus {
  border-color: #409EFF;
}

.sub_box > div > div span {
  font-size: 14px;
  font-weight: normal;
  color: #4c4c4c;
  display: inline-block;
}

.sub_box .addSub {
  position: absolute;
  top: 25px;
  right: 0;
}

.sub_box thead {
  line-height: 0;
}

.sub_box .cell span {
  width: 23px;
  height: 23px;
  text-align: center;
  line-height: 23px;
  background: #45a1d7;
  color: #fff;
}

.sub_box .cell {
  color: #4c4c4c;
}

.sub_box .icon {
  margin: 0 5x;
}

.sub_box .icon:hover {
  cursor: pointer;
  color: #45a1d7;
}

.sub_box .el-table__row > td:nth-child(3) {
  font-size: 16px;
  font-weight: normal;
  color: #ddd;
}

/*
弹框样式
*/
.el-dialog__body {
  padding: 30px;
  font-size: 16px;
}

.dia {
  display: flex;
  margin: 10px 0;
}

.dia_title ~ div {
  width: 100%;
}

.dia_title ~ div .el-radio-group:nth-child(2) {
  margin-left: 100px;
}

.dia_detail {
  width: 670px;
  height: auto;
  border: 1px solid #ddd;
  padding: 20px;
}

.dia_detail > div {
  display: flex;
  margin-bottom: 10px;
}

.dia_detail > div > span {
  width: 80px;
  margin-right: 20px;
}

.dia_detail > div > span ~ div {
  width: 100%;
}

.dia_detail > div ul li {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.dia_detail > div ul li span {
  margin-right: 10px;
}

.dia_detail .el-textarea__inner {
  border-radius: 0;
}
