* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Digital';
  src: url(../css/font/DJB-Get-Digital.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Digital';
  src: url(../css/font/DJB-Get-Digital.eot);
}

@font-face {
  font-family: 'SourceHanSansCN-Bold';
  src: url(../css/font/SourceHanSansCN-Bold-2.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'SourceHanSansCN-Bold';
  src: url(../css/font/SourceHanSansCN-Bold-2.eot);
}

@font-face {
  font-family: 'SourceHanSansCN-Regular';
  src: url(../css/font/SourceHanSansCN-Regular-2.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'SourceHanSansCN-Regular';
  src: url(../css/font/SourceHanSansCN-Regular-2.eot);
}

html {
  font-size: 12px;
  font-family: 'SourceHanSansCN-Regular';
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

#app {
  width: 19.20rem;
  height: 10.80rem;
  background: url(../img/bg.png) center center/100% 100% no-repeat;
}

.header {
  width: 19.20rem;
  height: 1.0rem;
  font-size: 0.18rem;
  color: #4ea0cc;
}

.header .top {
  height: 0.54rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header .top > div {
  line-height: 0.54rem;
  margin: 0 1.0rem;
  display: flex;
}

.header .top > div span:nth-of-type(2) {
  margin-left: 0.50rem;
}

.header .top > div > div:nth-child(2) {
  margin-left: 0.50rem;
}

.header .bottom {
  height: 0.46rem;
  width: 100%;
  background: url(../img/title-bg.png) center center/100% 100% no-repeat;
}

.header .bottom div {
  width: 5.0rem;
  margin: 0 auto;
  color: #fff;
  font-weight: 500;
  text-align: center;
  vertical-align: top;
  font-size: 0.48rem;
  font-family: 'SourceHanSansCN-Bold';
  letter-spacing: 4.8px;
  transform: translateY(-0.25rem);
}

main {
  width: 19.20rem;
  height: 9.80rem;
  padding: 0 0.20rem 0.20rem 0.20rem;
  display: flex;
}

.pub, .left, .center {
  height: 9.60rem;
}

.left {
  width: 4.30rem;
}

.l_top {
  box-sizing: border-box;
  padding: 0 0.20rem 0.20rem;
  font-size: 0.18rem;
  color: #fff;
}

.l_top .title {
  width: 1.65rem;
  line-height: 0.41rem;
  height: 0.41rem;
  font-size: 0.20rem;
  color: #fff;
  text-align: center;
  margin-left: 0.10rem;
  letter-spacing: 1.8px;
}

.l_top .tit {
  line-height: 0.2rem;
  height: 0.2rem;
  font-weight: bold;
  border-left: 0.03rem solid #2db0f7;
  margin: 0.2rem 0;
  text-indent: 0.10rem;
  color: #fff;
}

.l_top .tit ~ div {
  display: flex;
  justify-content: space-between;
}

.l_top .sig_pia {
  width: 1.24rem;
  height: 1.43rem;
}

.l_bottom {
  box-sizing: border-box;
  padding: 0 0.20rem 0.20rem;
  font-size: 0.18rem;
  color: #fff;
}

.l_bottom .title {
  width: 2.00rem;
  line-height: 0.41rem;
  height: 0.41rem;
  font-size: 0.20rem;
  color: #fff;
  text-align: center;
  margin-left: 0.40rem;
}

.num2 {
  width: 1.00rem;
  height: 0.35rem;
  margin-bottom: 0.05rem;
  text-align: center;
  font-family: 'Digital';
  font-size: 0.35rem;
  font-stretch: normal;
  letter-spacing: 1.3px;
  color: #6fd8ff;
}

.num2 ~ span {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 0.14rem;
  line-height: 0.25rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.5px;
  color: #0e8ace;
}

.num2 ~ i {
  display: block;
  width: 0.3rem;
  height: 2px;
  background: #23a8ff;
  margin: 0.05rem auto;
  border-radius: 50%;
}

.tab_tit, .l_scroll li {
  display: flex;
  justify-content: space-evenly;
  font-size: 0.18rem;
  color: #23a8ff;
  margin: 0.2rem 0;
}

.tab_tit div, .l_scroll li div {
  text-align: center;
}

.tab_tit div:nth-child(1), .l_scroll li div:nth-child(1) {
  flex: 1;
}

.tab_tit div:nth-child(2), .l_scroll li div:nth-child(2),
.tab_tit div:nth-child(3), .l_scroll li div:nth-child(3) {
  flex: 2;
}

.l_scroll li {
  color: #fff;
  overflow: hidden;
}

.l_scroll li div:nth-child(3) {
  width: 1.56rem;
  height: 0.25rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.r_scroll li {
  font-size: 0.18rem;
  color: #93cbeb;
  margin: 0.15rem 0.05rem;
}

.r_scroll li img {
  width: 2.35rem;
  height: 1.60rem;
  object-fit: fill;
}

.btn {
  width: 0.90rem;
  height: 0.34rem;
  line-height: 0.34rem;
  margin: 0.10rem 0;
  cursor: pointer;
  text-align: center;
  background: url(../img/btn_un.png) center center/100% 100% no-repeat;
  transition: all 0.5s;
}

.btnAct {
  background: url(../img/btn_act.png) center center/100% 100% no-repeat;
}

.seamless-warp {
  height: 3.20rem;
  overflow: hidden;
}

.seamless-warp2 {
  height: 9.20rem;
  overflow: hidden;
}

.center {
  width: 11.02rem;
  margin: 0 0.25rem;
}

.right {
  width: 2.95rem;
  height: 9.85rem;
  box-sizing: border-box;
  padding: 0 0.20rem 0 0.30rem;
  transform: translateY(-0.25rem);
  background: url(../img/banner_box.png) center center/100% 100% no-repeat;
}

.right .title {
  width: 1.50rem;
  line-height: 0.41rem;
  height: 0.41rem;
  font-size: 0.20rem;
  color: #fff;
  text-align: center;
  margin-left: 0.10rem;
  letter-spacing: 1.8px;
}

.right .title ~ div {
  height: 9.40rem;
  padding: 0.20rem 0 0 0;
}

.l_top {
  width: 4.30rem;
  height: 4.95rem;
  background: url(../img/dormitory_box.png) center center/100% 100% no-repeat;
}

.l_bottom {
  width: 4.30rem;
  height: 4.45rem;
  margin-top: 0.2rem;
  background: url(../img/early_warning_box.png) center center/100% 100% no-repeat;
}

.c_top {
  width: 11.02rem;
  height: 4.69rem;
  margin: 0.33rem 0;
  background: url(../img/school_num_box.png) center center/100% 100% no-repeat;
}

.c_top .num {
  padding: 0.25rem 0;
  font-weight: bold;
}

.c_top .num div {
  width: 3.0rem;
  text-align: center;
  font-size: 0.55rem;
  margin: 0 auto 0.35rem;
  color: #2db0f7;
}

.c_top .num ul {
  display: flex;
  justify-content: center;
  height: 0.96rem;
  font-family: 'Digital';
}

.c_top .num ul li {
  width: 0.96rem;
  margin: 0 0.15rem;
  height: 0.96rem;
  line-height: 0.96rem;
  font-size: 0.72rem;
  color: #6fd8ff;
  background: url(../img/num_bg.png) center center/100% 100% no-repeat;
  text-align: center;
}

.c_top .pieNum {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.c_top .pieNum div {
  width: 1.80rem;
  height: 1.8rem;
}

.num3 {
  display: block;
  width: 1.00rem;
  height: 0.80rem;
  color: #0e8ace;
  font-weight: bold;
}

.num3 span {
  display: block;
  font-size: 0.18rem;
  text-align: center;
}

.num3 span:nth-child(1) {
  font-size: 0.50rem;
  color: #6fd8ff;
  font-family: 'Digital';
}

.c_bottom {
  width: 11.02rem;
  height: 4.24rem;
  display: flex;
  justify-content: space-between;
}

.c_bottom .title {
  width: 1.50rem;
  line-height: 0.41rem;
  height: 0rem;
  font-size: 0.20rem;
  color: #fff;
  letter-spacing: 1.8px;
  text-align: center;
  margin-left: 0.15rem;
  transform: translateY(-0.3rem);
}

.c_bottom > div {
  width: 5.36rem;
  height: 4.24rem;
  padding: 0.30rem 0.18rem 0.18rem;
  box-sizing: border-box;
  background: url(../img/shool-bg.png) center center/100% 100% no-repeat;
}

.c_bottom .line_pic {
  width: 5.00rem;
  height: 3.00rem;
}

.c_bottom .btn_list {
  width: 5.00rem;
  height: 0.30rem;
  margin: 0.20rem 0;
  font-size: 0.18rem;
  color: #23a8ff;
  display: flex;
  justify-content: space-between;
}

.c_bottom .btn_list .btn_group {
  height: 0.3rem;
  border: solid 1px #005191;
  display: flex;
  padding: 2px;
}

.c_bottom .btn_list .btn_group div {
  width: 0.90rem;
  cursor: pointer;
  line-height: 0.30rem;
  text-align: center;
}

.btn_g_act {
  background-color: #094c9e;
  color: #fff;
}
