$themeColor:#45a1d7;
$themeColordeep:#3c8dbc;

#app {
    // min-width: 1220px;
    height: 100%;
    padding: 20px;
    background-color: #f5f5f5;
}

.themeColor {
    background-color: $themeColor !important;
    color: #fff !important;
}

.line {
    width: 100%;
    height: 1px;
    margin: 10px 0;
    background: #ddd;
}

.defaultSize {
    font-size: 18px;
    margin: 0 5px;
}

.borderAct {
    border: 1px solid #45a1d7 !important;
    border-color: #45a1d7;
}

// 头部提示和按钮
.header {
    width: 100%;
    height: 62px;

    .tips {
        width: 100%;
        // height: 42px;
        margin: 10px 0;
        background: #edf8ff;
        border: 1px solid #97cff0;

        span {
            line-height: 42px;
        }
    }

    .btn {
        width: 100%;
        line-height: 42px;
        padding: 10px 0;
    }
}


// 直播中页面
.onlive {
    margin: 75px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .img {
        width: 220px;
        height: 210px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .liveTips {
        line-height: 26px;
        margin: 30px 0;
        font-family: SourceHanSansSC-Regular;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 1px;
        color: #3c8dbc;
    }
}



// 左侧手风琴
.el-button--primary.is-plain {
    background-color: $themeColor;
    border-color: $themeColor;
    color: #fff;
}

.el-button--primary.is-plain:focus,
.el-button--primary.is-plain:hover {
    background-color: $themeColordeep;
    border-color: $themeColordeep;
}

.el-collapse-item__arrow {
    display: none;
}

.el-collapse-item__header,
.el-collapse-item__wrap {
    background-color: #f7f8fa;
    border-color: #ddd;
}

// 右侧班级列表
.right {
    // width: 100%;
    // height: 600px;
    border-left: 1px solid #ddd;
    padding: 5px 0 0 20px;

    .rightTitle {
        height: 30px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        div {
            width: 90px;
            height: 16px;
            line-height: 16px;
            font-size: 18px;
            font-weight: 700;
            text-indent: 15px;
            border-left: 3px solid $themeColor;
        }

        span {
            color: #b0b1cb;
            font-size: 14px;
            letter-spacing: 2px;

            span {
                color: #367fa9;
                font-size: 16px;
            }
        }
    }


}

// 角标
.el-card {
    margin-bottom: 10px;
    position: relative;

    .select {
        width: 30px;
        height: 30px;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 999;
    }
}